{% extends 'base/index.html' %}

{% block content %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body>
        
        <h1>IDOUDU</h1>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input class="button" type="submit" value="Login">
        </form>

        <p>Create an Account with Us Today</p>
        <br>
        <button class="button" onclick="window.location.href='{% url 'signup'%}'">Signup</button>
    </body>
</html>


{% endblock%}


